<div class="container">
  <div class="row top-body">
    <div class="col-xs-8 description">
      Content here
    </div>
    <div class="col-xs-4">
     <%= link_to fa_icon("facebook", text: "Login"), class: "btn btn-primary btn-lg", id: "land-login-link" %>
    </div>
  </div>
</div>