<div id="land">
  <div class="container">
    <div class="row login">
      <div class="col-md-8 description">
        <h3>About our social matrimony website</h3>
        <div class="col-md-8 information">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt, odio provident earum, tempore veritatis id, quibusdam labore facere fugit numquam vel velit perferendis suscipit necessitatibus explicaboanimi similique molestiae, exercitationem nihil cupiditate reiciendis minima repudiandae eveniet facilis. Excepturi, quod."</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sunt, odio provident earum, tempore veritatis id, quibusdam labore facere fugit numquam vel velit perferendis suscipit necessitatibus explicaboanimi similique molestiae, exercitationem nihil cupiditate reiciendis minima repudiandae eveniet facilis. Excepturi, quod."</p>
        </div>
      </div>
      <div class="col-md-4 fb">
        <a href="#">FB Login</a>
      </div>
    </div>
    <div class="row people">
      <div class="col-md-6">
        <h3>Parents</h3>
        <%= render 'main/bride' %>
      </div>
      <div class="col-md-6">
        <h3>Bride / Groom</h3>
      </div>
    </div>
  </div>
</div>