<div class="container">
  <div class="row row-height" >
    <div id="profile-creation">
      <div class="col-xs-6">
        <%= link_to "I am creating profile for MYSELF","", class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-xs-6">
        <%= link_to "I am creating profile for MYWARD","",class: "btn btn-primary btn-lg", id: "profile-button" %>
      </div>
    </div>
  </div>
</div>