// Land page

#land{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: $font-stack;
  background-image: image-url('Home.jpg');
  background-size: cover;
  color: white;
    
  .login{
    height: 70vh; 
    h1{
      text-align: center;
    }
  }

    .description{
      top: 5vh;
    }
  
  .people{
    height: 30vh;
    }


  .information p{
    margin-top: 35px;
    text-align: justify;
    margin-left: 12px;
  }

  .parent, .bride{
    #carousel-generic{
      color: #FFF;
    }
    .carousel-inner{
      overflow: visible;
      top:20vh;
    }
  }
 
  .fb{
    top: 25vh;
    left: 17vh;
    a{
      font-size: 2em;
      border: 1px solid $dark-fb-color;
      padding: 3px 35px 2px 35px;
      background-color: $dark-fb-color;
      text-decoration: none;
      color: white;
      
      &:hover {
        background-color: $lighter-fb-color;
      }
    }
  }
}


#profile-creation{
  h3{
    text-decoration: underline;
  }
  overflow: hidden;
  font-family: $font-stack;
  height: 100vh;
  .step{
    top: 5vh;
    position: fixed;
    .one, .two, .four{
      padding: 50px;
      font-weight: 300;
      font-size: 2em;
    }
  }

  .three, .five{
    padding: 50px;
    font-weight: 300;
    font-size: 2em;
  }
  a{
    text-decoration: none;
    color: #000;
  
  &:hover {
     color: $dark-fb-color;
   } 
  }
  .nav-tabs{
    margin-top: 20vh;
  }

  #basic-form{
    height: 110vh;
    margin-top: 10vh;
    .control-label{
      font-size: 15px;
    }
    .number{
      padding-left: 10px;
    }
    .sex{
      padding-top: 30px;
    }
    .email{
      padding-top: 30px;
    }
    .form-control, .email, .name{
      font-size: 18px;
    }
    .image{
      top: 40vh;
      .upload{
        margin-top: 14px;
        padding-left: 95px;
      }
    }
    .basic-submit{
      float: right;
      font-size: 17px;
      border: 1px solid $dark-fb-color;
      padding: 10px;
      margin-top: 70vh;
      text-decoration: none;
      background-color: $dark-fb-color;
      color: #FFF;
      margin-left: 4vw;
    }
  }


  // #family{
  //   height: 110vh;
  //   form{
  //     margin-top: 12vh;
  //   }
  //   .control-label{
  //     float: left;
  //     font-size: 14px;
  //   }
  //   h3{
  //     margin-top: 5vh;
  //   }
  //   .family-submit a{
  //     float: right;
  //     font-size: 17px;
  //     border: 1px solid $dark-fb-color;
  //     padding: 10px;
  //     text-decoration: none;
  //     background-color: $dark-fb-color;
  //     color: #FFF;
  //     margin-left: 4vw;
  //   }
  // }

  // #education{
  //   height: 100vh;
  //   form{
  //     margin-top: 10vh;
  //   }
  //   h3{
  //     float:left;
  //     margin-top: 13vh;
  //   }
  //   .education-submit a{
  //     float: right;
  //     font-size: 17px;
  //     border: 1px solid $dark-fb-color;
  //     padding: 10px;
  //     text-decoration: none;
  //     background-color: $dark-fb-color;
  //     color: #FFF;
  //     margin-left: 4vw;
  //   }
  //   .control-label{
  //     font-size: 14px;
  //   }
  // }

  // #personal{
  //   height: 120vh;
  //   form{
  //     margin-top: 5vh;
  //   }
  //   h3{
  //     float: left;
  //     margin-top: 14vh;
  //   }
  //   .control-label{
  //     font-size: 14px;
  //   }
  //   .personal-submit a{
  //     float: right;
  //     font-size: 17px;
  //     border: 1px solid $dark-fb-color;
  //     padding: 10px;
  //     text-decoration: none;
  //     background-color: $dark-fb-color;
  //     color: #FFF;
  //     margin-left: 4vw;
  //   }
  // }

  // #preference{
  //   form{
  //     margin-top: 20vh;
  //   }
  //   .age{
  //     display: -webkit-box;
  //     select{
  //       padding-right: 10px;
  //     }
  //   }
  // }

}



//footer starts here

#footer{
  color: white;
  #heart-icon{
    color: red;
  }
}