// Land page //

#land{
  width: 100%;
  min-height: 92vh;
  overflow: hidden;
  font-family: $font-stack;
  color: white;
  background-size: cover;
  background-image: image-url('Home.jpg');
  .login{
    height: 55vh; 
    h1{
      text-align: center;
    }
  }

  .description{
    top: 7vh;
  }

  .people{
    height: 30vh;
  }


  .information p{
    margin-top: 35px;
    text-align: justify;
    margin-left: 12px;
  }

  .parent, .bride{
    top: 10vh;
    #carousel-generic{
      color: #FFF;
    }
    .carousel-inner {
      overflow: visible;
      top:17vh;
    }
  }
  .fb{
    margin-top: 7vh;
  }

  @media only screen and (max-width: 767px) {
   
    iframe{
      visibility: hidden;
    }
    .information p{
      font-size: 12px;
    }
    .people .parent{
      margin-top: -180px;
    }
    .people .bride{
      margin-top: 100px;
    }
  }
}

.form_control{
  display: inline-block;
}


//welcome page//

#welcome{
  width:90vw;
  font-family: $font-stack;
  position: relative;
  height: 90vh;
  .nav{
    li a{
      font-size: 1.2em;
    }
  }

  #basic-info{
   
    dt{
      margin-left: 10vw;
      font-size: 1.1em;
      padding-top: 30px;
      color: $dark-fb-color;
      .icon{
        display: inline-block;
        padding-right: 10px;
      }
      .name{
        margin-top: 30vh;
      }
    }
    dd{
      margin-left: 30vw;
      font-size: 1.0em;
      padding-top: 28px;
      &.name-fb{
        margin-top: 60px;
      }
    }
    .image{
      float:right;
    }
    a{
      float: right;
      font-size: 1.5em;
      text-decoration: none;
      border: 0.5px solid $lighter-fb-color;
      background-color: $lighter-fb-color;
      padding: 3px;
      color: #fff;
      .next{
        display: inline-block;
        padding-left: 9px;
      }
    }

    @media only screen and (max-width: 767px) {
      height:180vh;
      dd{
        margin: 0;
        margin-left: 118px;
        margin-top: -45px;
          &.name-fb{
          margin-top: 0px;
        }
      }
      dt{
        margin: 0;
      }
    }
  }
  
  #prof-info{
    height: 80vh;
    dt{
      margin-left: 0vw;
      font-size: 1.1em;
      padding-top: 30px;
      &.edu{
        margin-top: 5vh;
      }
      &.prof{
        margin-top: 5vh;
      }
      
    }
    dd{
      margin-left: 20vw;
      font-size: 1.0em;
       &.edu-fb{
        .school{
          margin-top: 10vh;
        }
        .details{
          margin-left: 30vw;
          margin-top: -24px;
         .specialization{
           padding-left: 29px;
         }
        }

      }
      &.prof-fb{
        margin-top: 10vh;
      }
    }
    .previous {
      margin-top: 10em;      
    a{
      text-decoration: none;
      font-size: 1.3em;
      margin-left: 5vw;
      .double-left{
        padding: 5px;
        display: inline-block;
      } 
    }
    .next a{
      float: right;
      text-decoration: none;
      font-size: 1.3em;
      .double-right{
        padding: 5px;
        display: inline-block;
      }
    }
   }
  }

  #personal-info{
    height:210vh;
    #accordion{
        margin-top: 5em;
    }
    .next a{
      position: fixed;
      bottom:50;
      float: right;
      margin-left: 60vw;
      font-size: 1.5em;
      text-decoration: none;
    }
    .previous{
      position: relative;
      bottom:50px;
        margin-top: 68px;
      a{
        font-size: 1.5em;
        text-decoration: none;
        margin-left: 5vw;
      }
    }
    .double-left, .double-right{
      display: inline-block;
      padding: 5px;
    }
    .save{
      float: right;
    }
   .collapsed{
     text-decoration: none;
     color:black;
   }
   a{
     text-decoration: none;
   }
   #headingOne , #headingTwo , #headingThree{
     background-color: $nav-one-bg-color;
     color: #fff;
   }
  }

  #partner-pref{
    .container{
      width: 890px;
    }
    .save{
      float: right;
      margin-top: 5em;
    }
    .previous {
      a{
        border: 0.5px solid $dark-fb-color;
        font-size: 1.5em;
        text-decoration: none;
        margin-bottom: 10px;
        margin-left: 5vw;
        padding: 3px;
        color : #fff;
        background-color: $lighter-fb-color;
      }
    }
    .double-left, .double-right{
      display: inline-block;
      padding: 5px;
    }
  }
}




