#land{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Open Sans',sans-serif;
  background-image: image-url('Home.jpg');
  background-size: cover;
  color: white;
    
  .login{
    height: 70vh; 
    h1{
      text-align: center;
    }
  }

  .people{
    height: 30vh;
  }
  .description{
    top: 5vh;
  }
  .information p{
    margin-top: 35px;
    text-align: justify;
    margin-left: 12px;
  }
  .fb{
    top: 25vh;
    left: 17vh;
    a{
      font-size: 2em;
      border: 1px solid $dark-fb-color;
      padding: 3px 35px 2px 35px;
      background-color: $dark-fb-color;
      text-decoration: none;
      color: white;
      
      &:hover {
        background-color: $lighter-fb-color;
      }
    }

  }
}