$dark-fb-color: #3A5795;
<<<<<<< HEAD
$lighter-fb-color: lighten($dark-fb-color, 15%);
$font-stack: 'Open Sans',sans-serif;
=======
$lighter-fb-color: lighten($dark-fb-color, 15%);
>>>>>>> codeastra/develop
