$dark-fb-color: #3A5795;
$lighter-fb-color: lighten($dark-fb-color, 15%);
$font-stack: 'PT Sans', sans-serif;
$font-head:'Lora', serif;
$font-head-color: #D35400;
$caption-head-color: #26A65B;
$navbar-bg-color: #3A5795;
$power-bg-color: #E74C3C;
$footer-bg-color: #666666;
$nav-one-bg-color: #34495E;
$edit-page-bg-color: #ECECEC;
$index-bg-color: #3299BB;
