<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-caption">
        <%= image_tag("groom1.jpg", class: "img-responsive", size: "35") %>
        " bride can see information here "
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        " this is bride platform "
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        " bride can be found easily "
      </div>
    </div>
  </div>
</div>