<footer class="text-center">
<span class="text">Built with <%= fa_icon "heart", id: "heart-icon" %> from Social Matrimony Team.</span>
<!-- <span class="icon1">
  <a href=""> <%= fa_icon("twitter") %></a>
</span>
<span class="icon2">
  <a href=""> <%= fa_icon("facebook") %>
  </a>
</span>
  <span class="follow">Follow Us On</span> -->
</footer>

