<header>
<div class="navbar navbar-default">
  <h2>Social Matrimony</h2>
  <span class="caption">Connecting two different lives</span>
  <% if user_signed_in? %>
    <span class="log">As <strong><%= current_user.name %><img src="<%= current_user.image %>" alt="vineetsouri" class = "img-circle"></strong> </span>
    <%= link_to fa_icon("power-off"), destroy_user_session_path, method: :delete, 
    class: "power" %>
    <% end %>
</div>
</header>