<form class="form-horizontal">  
  <div class="form-group form-group-sm marital">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Marital Status</label>
    <div class="col-sm-2">
      <select class="form-control">
        <option>None</option>
        <option>Single</option>
        <option>Divorced</option>
        <option>Widow</option>
      </select>
    </div>
  </div>
  <div class="form-group form-group-sm caste">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Caste</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Caste">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Sub Caste">
    </div>
  </div>
  <div class="form-group form-group-sm height">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Height</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="(..)cm">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Weight in Kgs">
    </div>
  </div>

  <div class="form-group form-group-sm body">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Body Type</label>
    <div class="col-sm-2">
      <select class="form-control">
        <option>None</option>
        <option>Athelic</option>
        <option>Slim</option>
        <option>Thin</option>
        <option>Medium</option>
        <option>Slightly -heavy</option>
        <option>Heavy</option>
        <option>Not to say</option>
      </select>
    </div>
  </div>
  <div class="form-group form-group-sm complexion">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Complexion</label>
    <div class="col-sm-4">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Fair
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Wheatish
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Dark
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> Not to say
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm eat">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Eating Habbit</label>
    <div class="col-sm-4">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Veg
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Non-Veg
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm smoke">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Do You Smoke</label>
    <div class="col-sm-4">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Ocasionally
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm drink">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Do You Drink</label>
    <div class="col-sm-4">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Ocasionally
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm dosham">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Dosham</label>
    <div class="col-sm-4">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Dont Know
      </label>
    </div>
  </div>
  <div class="form-group form-group-sm raasi">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Raasi</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Raasi">
    </div>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Star">
    </div>
  </div>
  <div class="form-group form-group-sm family">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Family Type</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="">
    </div>
  </div>
  <div class="form-group form-group-sm father">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Father Name</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall">
    </div>
  </div>
  <div class="form-group form-group-sm mother">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Mother Name</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" >
    </div>
  </div>
  <div class="form-group form-group-sm family">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Family values</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="">
    </div>
  </div>
  <div class="form-group form-group-sm about">
    <label class="col-sm-2 control-label" for="formGroupInputSmall">Something About You</label>
    <div class="col-sm-4">
      <textarea name="" id="" cols="30" rows="5"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>